body {
    font-family: Merienda;
    font-weight: bold;
    font-size: large;
    text-align: center;
    letter-spacing: 0.05em;
    word-spacing: 0.15em;
}

#pageHeader {
    font-weight: bolder;
}

#container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(4, 2fr) ;
    grid-template-areas: 
    "h h h h"
    "ya my mt ta"
    "yn my mt tn"
    "yp my mt tp";
    grid-row-gap: 0.5%;
    grid-column-gap: 0.25%;
}

.header {
    grid-area: h;
    background-color: #e15f41;
}

.ageYatzek {
    grid-area: ya;
    background-color: #cd6133;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ay";
    grid-gap: 1%; 
}

.ay {
    grid-area: ay;
}

.nicknameYatzek {
    grid-area: yn;
    background-color: #cd6133;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "ny";
    grid-gap: 1%; 
}

.ny {
    grid-area: ny;
}

.professionYatzek {
    grid-area: yp;
    background-color: #cd6133;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "py";
    grid-gap: 1%;   
}

.py {
    grid-area: py;
}

.ageTirtir {
    grid-area: ta;
    background-color:#cd6133;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "at";
    grid-gap: 1%;
}

.at {
    grid-area: at;
}

.nicknameTirtir {
    grid-area: tn;
    background-color:#cd6133;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "nt";
    grid-gap: 1%;
}

.side-nav {
    padding: 10%;
}

.nt {
    grid-area: nt;
}

.professionTirtir {
    grid-area: tp;
    background-color:#cd6133;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "pt";
    grid-gap: 1%;
}

.pt {
    grid-area: pt;
}

.mainYatzek {
    grid-area: my;
    background-color: #fa983a;
}

.mainTirtir {
    grid-area: mt;
    background-color: #ffb142;
}

